@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.sidebar-link {
    &:hover {
        overflow: visible;

        & span {
            transform: translateX(0.5rem);
        }
    }

    & span {
        color: #000;
        transition: 300ms ease-in-out;

        &::before {
            content: "";
            border: 9px solid transparent;
            border-color: transparent #fff transparent transparent;
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

[title]:hover::after {
    content: attr(title);
    display: block;
    position: absolute;
    background: rgb(203, 213, 225);
    border: 1px solid #000;
    border-radius: 0.25rem;
    padding: 0.25rem 0.75rem;
    color: rgb(100, 116, 139);
}
